body {
  max-width: 618px;
  margin: auto;
  font-family: 'Droid Serif', sans-serif;
  background-color: #dbdbdb;
  text-shadow: 1px 1px 0 #FFFFFF; }

p {
  color: #141414;
  font-size: 17px;
  line-height: 24px; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: 'Roboto Slab', serif;
  line-height: 20px;
  color: #141414; }

h1, h2, h3 {
  line-height: 40px; }

h1 {
  font-size: 31px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

a {
  color: #6296cb;
  text-decoration: none; }

img {
  max-width: 100%; }

ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
  line-height: inherit; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

li {
  line-height: 24px; }

blockquote {
  margin: 0;
  padding-left: 15px;
  border-left: 5px solid #dbdbdb; }

pre {
  padding: 10px;
  border: 1px solid #dbdbdb;
  overflow: auto; }

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff; }

#header {
  margin-top: 20px; }

#main .content {
  margin: 20px 0;
  padding: 5px 20px;
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  word-break: break-all; }
  #main .content .published {
    font-family: 'Droid Serif', sans-serif;
    color: #8f8f8f; }

#footer {
  margin: 20px 0;
  color: #8f8f8f; }

.archive-title {
  margin: 5px 0;
  font-size: 19px; }

@media (max-width: 767px) {
  body {
    padding: 0 12px 0 12px; } }
