$dark-gray: #8F8F8F;
$light-gray: #DBDBDB;

@mixin droid {
    font-family: 'Droid Serif', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

body {
    max-width: 618px;
    margin: auto;
    @include droid;
    background-color: $light-gray;
    text-shadow: 0 1px 0 #FFFFFF;
}

p {
    color: #141414;
    font-size: 17px;
    line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: normal;
    line-height: 20px;
    color: #141414;
}

h1, h2, h3 { line-height: 40px; }

h1 { font-size: 31px; }

h2 { font-size: 24px; }

h3 { font-size: 21px; }

h4 { font-size: 18px; }

h5 { font-size: 14px; }

h6 { font-size: 12px; }

a {
    color: #6296cb;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul,
ol {
    padding: 0;
    margin: 0 0 10px 25px;
    line-height: inherit;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

li {
    line-height: 24px;
}

blockquote {
    margin: 0;
    padding-left: 15px;
    border-left: 5px solid $light-gray;
}

pre {
    padding: 10px;
    border: 1px solid $light-gray;
    overflow: auto;
    code {
        border-bottom: none;
    }
}

code {
    padding: 2px 0;
    border-bottom: 1px solid #6296cb;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

#header {
    margin-top: 20px;
}

#main {
    .content {
        margin: 20px 0;
        padding: 5px 20px;
        background-color: #FFFFFF;
        @include radius(4px);
        @include box-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
        word-break: break-all;
        .published {
            color: $dark-gray;
        }
    }
}

#footer {
    margin: 20px 0;
    color: $dark-gray;
}

.archive-title {
    margin: 5px 0;
    font-size: 19px;
}

@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {
    body {
        padding: 0 12px 0 12px;
    }
}

@media (max-width: 480px) {

}