@mixin roboto {
	font-family: 'Roboto Slab', serif;
}

@mixin ubuntu {
	font-family: 'Droid Serif', sans-serif;
}

@mixin radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

body {
	background-color: #C2C2C2;
}

p {
	@include ubuntu;
	color: #141414;
	font-size: 17px;
	line-height: 24px;
	text-shadow: 1px 1px 0 #FFFFFF;
}

h1 {
	@include roboto;
	color: #141414;
}

#main {
	margin: 0;
	padding: 61.8px;
	.content {
		max-width: 618px;
		margin: 30px auto 0 auto;
		padding: 5px 20px;
		background-color: #FFFFFF;
		@include radius(4px);
		@include box-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
		img {
			max-width: 100%;
		}
		.published {
			color: #8F8F8F;
		}
	}
}