body {
  max-width: 618px;
  margin: auto;
  font-family: 'Droid Serif', sans-serif;
  background-color: #dbdbdb; }

p {
  color: #141414;
  font-size: 17px;
  line-height: 24px;
  text-shadow: 1px 1px 0 #FFFFFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  color: #141414; }

a {
  color: #6296cb;
  text-decoration: none; }

#header {
  margin-top: 20px; }

#main .content {
  margin: 20px 0;
  padding: 5px 20px 20px 20px;
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  word-break: break-all; }
  #main .content img {
    max-width: 100%; }
  #main .content .published {
    font-family: 'Droid Serif', sans-serif;
    color: #8F8F8F; }

#footer {
  margin: 20px 0;
  color: #8F8F8F; }

.archive-title {
  margin: 5px 0;
  font-size: 19px; }
