<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
        <title type="text">{{ site.title }}</title>
        <subtitle>{{ site.title }}</subtitle>
        <id>http://{{ site.domain }}/feed</id>
        {% if posts %}<updated>{{ posts[0]['date'].strftime('%Y-%m-%dT%H:%M:%SZ')}}</updated>{% endif %}
        <link href="http://{{ site.domain }}/" />
        <link href="http://{{ site.domain }}/feed" rel="self" />
        {% for post in posts %}
        <entry xml:base="http://{{ site.domain }}/feed">
                <title type="text">{{ post.title }}</title>
                <id>http://{{ site.domain }}/post/{{ post.slug }}</id>
                <updated>{{ post.date.strftime('%Y-%m-%dT%H:%M:%SZ') }}</updated>
                <link href="http://{{ site.domain }}/post/{{ post.slug }}" />
                <author>
                        <name>{{ site.author }}</name>
                        <email>{{ site.email }}</email>
                </author>
                <content type="html">{{ post.content|e }}</content>
        </entry>
        {% endfor %}
</feed>