body {
  background-color: #C2C2C2; }

p {
  font-family: 'Droid Serif', sans-serif;
  color: #141414;
  font-size: 17px;
  line-height: 24px;
  text-shadow: 1px 1px 0 #FFFFFF; }

h1 {
  font-family: 'Roboto Slab', serif;
  color: #141414; }

#main {
  margin: 0;
  padding: 61.8px; }
  #main .content {
    max-width: 618px;
    margin: 30px auto 0 auto;
    padding: 5px 20px;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }
    #main .content img {
      max-width: 100%; }
    #main .content .published {
      color: #8F8F8F; }
